<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BrawlLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BrawlLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BrawlLib.Properties.Settings>
            <setting name="SaveGCTWithInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompatibilityMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideMDL0Errors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoDecompressFighterPAC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCompressFighterPCS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCompressStages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCompressModules" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoPlayAudio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ContextualLoopAudio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ContextualLoopAnimation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ParseMoveDef" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CameraPanInvertX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CameraPanInvertY" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CameraRotateInvertX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CameraRotateInvertY" serializeAs="String">
                <value>False</value>
            </setting>
        </BrawlLib.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <BrawlLib.Properties.Settings>
            <setting name="ShowProgressBars" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplyRelocationsAsync" serializeAs="String">
                <value>True</value>
            </setting>
        </BrawlLib.Properties.Settings>
    </applicationSettings>
</configuration>